.context {
    display:inline-block;
    width: 95vw;
    height: 90vh;
    border: 2px solid black;
}

/*#console {*/
    /*display: inline-block;*/
    /*width: 10vw;*/
    /*height: 90vh;*/
    /*border: 2px solid black;*/
/*}*/

